:root {
    --primary: #147ca5;
    --background: #FFFFFF;
    --border: #E0E0E0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    height: 7vh;
    min-width: 100%;
    /* background-color: #fae0f6; */
    background-color: var(--primary);
    color: white;
    /* background-color: rgb(46, 46, 252); */
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-filter: drop-shadow(0px 0px 6px #333);
    filter: drop-shadow(1px 1px 6px #333);
}
section{
    display: flex;
    min-height: 60vh;
    color: var(--text);
    width: 100%;
    background-color: var(--background)
}
.full-width-image-container {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/pruebas/pexels-photo-801863.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

main {
    min-height: 68.7vh;
   /*  background-color: #f28dd0; */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;       /* Centra horizontalmente */
    justify-content: flex-start; /* Alinea arriba */
    padding: 2%;
    font-family: "Roboto", sans-serif;
}

main>h1{
    font-size: xx-large;
    
}

ul {
    padding-left: 15px;
}
table{
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding: 5px;
}

footer{
    height: 10vh;
    min-width: 100vw;
    border-top: 5px solid black;
    background-color: white;
}

fieldset{
    width: 80%;
}
.hover-effect:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
.tablador{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.usuario{
    display: flex;
    align-items: center;
}

.usuario > a , .usuario > form > button{
    margin-right: 10px;
    margin-left: 10px;
}
